.style1{
    width: 450px;
}

.list1{
    list-style-type: lower-roman;
}

.list2{
    list-style-type: upper-roman;
}
.style2{
    background-color: black;
    width: 400px;
    color: green;
    overflow: auto;
    max-height: 90px;
}