.text1{
    text-align:right
}

.text2{
    font-size:12pt;
    font-style: italic;
    text-align:right;
    line-height: 2px;
}

.text3{
     text-align:right;
     font-weight: 500;
     line-height: 2px;
}

.text4{
    text-indent: 5mm;
    text-decoration:underline;
    font-family: 'Bad Script'
}
    
.text5{
    text-indent: 5mm;
    font-family: 'Bad Script', cursive;
}

.text6{
    font-weight: 500;
}